/* refactor gather up all display:flex items */
/* adjust body font color from default black */

.body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  /* color: black; */
}

a {
  text-decoration: none;
}

h3, p {
  margin: .5rem 0;
}

.center {
  text-align: center;
}

.row-container {
  display: flex;
}

/* Header Styles */

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

header .content {
  align-items: center;
  justify-content: space-between;
}

header .brand {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

header .logo {
  flex: 1;
}

.icon {
  height: 3rem;
  width: auto;
}

.title {
  font-size: 2rem;
}

.name {
  font-weight: bold;
  color: brown;
}

/* Menus */
.menu ul {
  list-style-type: none;
  padding: 0 1.5rem 0 0;
  margin: 0;
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.menu li {
  flex: 1 0 auto;
  text-align: center;
  padding: .6rem .5rem;
}

.menu li a {
  display: block;
  color: black;
}

.menu li:hover {
  background: lightgray;
}

/* Styles for Desktop */
@media screen and (min-width: 680px) {
  .mobile {
    display: none;
  }
  header .content {
    display: flex;
  }
}


/* Styles for mobile */
@media screen and (max-width: 680px) {
  .desktop {
    display: none;
  }
  nav .menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .menu ul {
    justify-content: space-between;
  }
  .menu li img {
    margin: auto;
  }
}

.main-content {
  position: relative;
  top: 4rem;
}

/* changing all image containers to flex */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

img {
  width: 100%;
  padding: 0;
}

.card-vertical {
  display: flex;
  flex-direction: column;
}

/* hero styling */
.hero-cta {
  display: flex;
}

@media screen and (min-width: 681px) {
  #hero {
    background-color: lightgray;
  }
  #hero .hero-content {
    flex: 40%;
  }
  #hero .image-container {
    flex: 60%;
    padding: 2rem 1.5rem;
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  margin-left: .5rem;
  margin-right: 1rem;
}

button {
  width: 75%;
  height: 2rem;
  color: white;
  background-color: brown;
  padding: .5rem;
  margin: 2rem 0;
}

@media screen and (max-width: 680px) {
  .hero-cta {
    flex-direction: column;
  }
  .hero-cta .image-container {
    margin: auto;
    width: 100%;
    padding: 0;
  }
  .hero-content {
    padding: 2rem 1rem;
    margin: auto;
    width: auto;
  }
  button {
    width: 100%;
    height: 2rem;
    color: white;
    background-color: brown;
  }
}

/* Testimonial Card */
#testimonial {
  flex: 60%;
}

#testimonial .card-content {
  padding: 0 1.5rem 2rem 1.5rem;
}

#testimonial .image-container {
  padding: 2rem 1rem 2rem 1.5rem;
}

#testimonial img {
  padding: 0;
}

#testimonial h1 {
  margin-top: 0;
}

.author {
  margin-top: 2rem;
}

.card-vertical img {
  padding: 1rem 0.5rem;
}


/* Vertical stack of horizontal cards */
.cards-information {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  justify-content: space-between;
}

#campus-info {
  flex: 40%;
  margin-top: 1rem;
  justify-content: flex-start;
}

#campus-info .image-container {
  flex: 35%;
}

#campus-info .hero-cta:nth-of-type(3){
  background-color: lightgray;
}


@media screen and (max-width: 680px) {
  #campus-info .image-container {
    padding: 1rem;
    width: auto;
  }
  .cards-information .hero-content {
    margin-left: 1rem;
  }
  .cards-information {
    width: 100%;
  }
}

/* Desktop only */
@media screen and (min-width: 681px) {
  #campus-info .image-container {
    width: 30%;
  }
  #campus-info .hero-content {
    width: 50%;
  }
}

/* learning / course section 2 rows of 3 cards for desktop */
/* vertical stack of titles for mobile */
#courses {
  background-color: lightgray;
}

#courses h2 {
  padding-top: 2rem;
  margin: 0;
}

#learning .hero-cta {
  flex-direction: column;
  flex: 1 0 25%;
  background-color: white;
  margin: 1rem;
}

#learning .hero-content {
  width: auto;
  margin: 1rem;
}

#learning {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem 3rem 1rem;
}

#learning .image-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

#learning img {
  padding: 0;
}

@media screen and (max-width: 680px) {
  #learning {
    flex-direction: column;
    padding: 1rem 0;
  }
  #courses {
    background-color: white;
  }
  #learning .hero-content {
    background-color: lightgray;
    margin: 0;
  }
}

/* thesis section with video only on mobile */
#video {
  flex: 60%;
}

.card-video {
  padding: .5rem;
}

#video video {
  width: 100%;
}

#video .card-content{
  padding: 1rem;
}

#thesis {
  flex: 40%;
  margin-top: 1.5rem;
  justify-content: flex-start;
}

#thesis .image-container {
  flex: 35%;
}

#thesis .hero-cta:nth-of-type(1){
  background-color: lightgray;
}

@media screen and (max-width: 680px) {
  #thesis {
    display: none;
  }
  #video .image-container {
    padding: 0;
  }
  #video .card-container {
    display: flex;
  }
  #video video {
    width: 100vw;
  }
  .card-video {
    padding: 0;
  }
}

/* footer styles */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem 3rem 1.5rem;
  border-top: 1px solid lightgray;
}

.terms {
  word-spacing: 1rem;
}

@media screen and (max-width: 680px) {
  footer {
    justify-content: center;
  }
}
