/* refactor all a to be text-decoration: none */
/* refactor gather up all display:flex items */

.body {
  font-size: 16px;
}

a {
  text-decoration: none;
}
.icon {
  height: 3em;
  width: auto;
}

.title {
  text-decoration: none;
  color: black;
  font-size: 2em;
}

/* Base styles that apply to all menus */

.menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	background: white;
}

.menu li a {
	display: block;
	text-decoration: none;
	color: black;
}
/* change background color */
.menu li a:hover {
	background: blue;
}

/* from fotomatic */
/* remove background-color and bottom border */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4em;
  overflow: hidden;
  z-index: 1;
  border-bottom: solid 1px #c6c1c1;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .content {
  align-items: center;
  justify-content: space-between;
}

/* do i need a height to scale the logo?  */
header .left {
  display: flex;
  align-items: center;
  padding-left: 1.5em;
}
header .logo {
  flex: 1;
}

nav a {
  font-size: 1rem;
  color: #4a4a4a;
}

/* Styles for Single Level Menu */

.menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1em;
}

.menu li {
    flex: 1 0 auto;
    text-align: center;
    padding: .6em .5em;
}

@media screen and (min-width: 680px) {
.mobile {
  display: none;
}

header .content {
  display: flex;
}
}


/* Styles for mobile */

@media screen and (max-width: 680px) {
.desktop {
  display: none;
}

 nav .menu {
   display: flex;
   justify-content: space-around;
   width: 100%;
}

 .menu ul {
    display: flex;
    justify-content: space-between;
}

.menu li img {
    margin: auto;
}
}

/* container below the header */
/* make sure all content flows underneath the fixed header */

.main-content {
  position: relative;
  top: 4rem; /* To offset for fixed header. */
}

/* hero styling */
/* remove border of container*/
/* adjust width of all items to match spec */
/* style the margins and borders to match spec */
/* add background color */
/* figure out font family */
/* center hero-content vertically */
/*  */

.hero-cta {
  display: flex;
  border: 1px solid green;
}

.hero-cta .image-container {
  width: 60%;
}

.hero-cta img {
  width: 100%;
  padding: 2em 1.5em;
}

.hero-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 25%;
  margin: auto;
}

@media screen and (max-width: 680px) {
  .hero-cta {
    flex-direction: column;
  }

  .hero-cta .image-container {
    margin: auto;
    width: 100%;
  }

  .hero-cta img {
    padding: 0;
    margin: auto;
  }

  .hero-content {
    padding: 2em 1em;
    margin: auto;
    width: auto;
  }
}

/* Testimonial Card */
/* can be refactored for mobile display:none and image container width */
/* can't comment out the display:none here for some reason, the card-vertical */
/* is overriding the desktop media query from earlier, must be because it's flex */
/* used an id of testimonial to make it work */
/* play with margin on #testimonial once the other stack of cards is placed */
/* need to determine at which level the 60% width goes on to align with photo */

.card-vertical {
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
}

#testimonial {
  margin: 0 1.5em;
}

.card-vertical img {
  padding: 2em 0;
}

@media screen and (max-width: 680px) {
#testimonial {
    display: none;
  }
}

/* Vertical stack of horizontal cards */
/* fix size of images to be consistent at 30% */
/* may need to do a flex property for the 3rd card image */
/* adjust the size of the cards within the stack at 33% */
/* card image of top card is aligned with top of vertical card image */
/* add padding, etc around images and text */
/* change to mobile image sizes with media query stretches to container*/
/* mobile images are not flexing into the proper container size */


.row-container {
  display: flex;
}

.cards-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 681px) {
  .cards-information .image-container {
    width: 30%;
  }
  .cards-information .hero-content {
    width: 50%;
  }
}

@media screen and (max-width: 680px) {
  .cards-information {
    width: 100%;
  }
}

/* learning / course section 2 rows of 3 cards for desktop */
/* vertical stack of links for mobile */
/* vertical stacks are already working just need to be styled */
/* Add h2 to the section */
#learning .hero-cta {
  flex-direction: column;
  flex: 0 0 30%;
}

#learning {
  flex-direction: row;
  flex-wrap: wrap;
}

#learning .image-container {
  width: 100%;
  margin: 0;
}
#learning img {
  padding: 0;
}

@media screen and (max-width: 680px) {
  #learning {
    flex-direction: column;
  }

}



/* footer */
/* adjust color of border-top */
/* remove border-bottom */
/* change copy to symbol */
footer {
  display: flex;
  justify-content: space-between;
  padding: 1em 1.5em 3em 1.5em;
  border-top: 1px solid green;
  border-bottom: 1px solid green;
  align-items: center;
}

.right {
  word-spacing: 1rem;
}

@media screen and (max-width: 680px) {
  footer {
    justify-content: center;
  }
}
